[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
pkce = "*"
jsonschema = "*"
pyyaml = "*"

[dev-packages]
mypy = "*"
pylint = "*"
black = "*"
mypy-extensions = "*"
types-requests = "*"
types-pyyaml = "*"
typing-extensions = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
