[Unit]
Description=Daily run of Randomness script at 12:00 PM

[Timer]
OnCalendar=*-*-* 12:00:00
Unit=randomness.service
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
