name: Pull Request Workflow

on:
  pull_request:
    branches:
      - main # Replace 'main' with your default branch name if different

defaults:
  run:
    shell: bash

jobs:
  pylint:
    name: Running pylint
    runs-on: ubuntu-latest,
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.0
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: "pip"
